body {
  margin: 0;
  user-select: none;
}

text {
  user-select: none;
}

#info-box {
  position: fixed;
  background: white;
  padding: 10px;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-group {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}

.btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  margin: 0 4px;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  color: white;
  background: Teal;
}

.btn-group .btn-save {
  position: relative;
}

.btn-group .list-save {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 9999;
}

.btn-save:hover .list-save {
  display: block;
}

.btn-group .list-save .btn-save-item {
  margin: 5px 0;
}

.content-diagram {
  margin: auto;
  border: 1px solid black;
  box-sizing: border-box;
}

.content-diagram-svg {
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}
