.popup {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  overflow: hidden;
  width: auto;
  padding: 10px 0;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.popup-content {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: auto;
  padding: 20px;
  scrollbar-width: thin;
}

.popup-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.popup-row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.popup-group {
  width: 50%;
  padding: 0 0.5rem;
  box-sizing: inherit;
}

.group-3 .popup-group {
  width: 33%;
}

.popup-label {
  display: block;
  font-size: 1rem;
  text-align: start;
  margin-bottom: 0.5rem;
}

.popup-input {
  width: 99%;
  margin-bottom: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

.popup-input input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.popup-select {
  width: 50%;
  margin-bottom: 0.5rem;
}

.popup-select .popup-select-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 0.5rem;
}

.popup-select-header .popup-label {
  margin-bottom: 0;
}

.popup-select-header .popup-select-btn {
  padding: 0.25rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  background: transparent;
}

.popup-input select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.popup-operation {
  width: 50%;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  box-sizing: inherit;
}

.popup-operation button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.popup-operation .btn-success {
  background: green;
}

.popup-operation .btn-success:hover {
  background: olivedrab;
}

.popup-operation .btn-danger {
  background: red;
}

.popup-operation .btn-danger:hover {
  background: darkred;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  color: red;
  cursor: pointer;
  border: none;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .popup-group {
    width: 100% !important;
  }

  .popup-select-list .popup-input {
    max-width: unset;
  }
}

@media screen and (max-width: 500px) {
  .popup {
    top: 20%;
    width: 70%;
    max-height: 50vh;
    transform: translate(-50%, 0);
    overflow: auto;
    scrollbar-width: thin;
  }

  .popup-content {
    padding: 10px;
    overflow: unset;
  }
}
