{#
/**
 * @file
 * Default theme implementation for state diagram.
 * Don't remove id="edit-diagram"
 * Available variables:
 * - nodeSpacing: Distance between two nodes.
 * - edgeSpacing: Distance between two labels and transition states.
 * - output: id of textarea.
 * - format: Yaml or json.
 * - fieldName: Field name.
 * - title: title of field
 * - description: description of field
 * @see template_preprocess_state_diagram()
 *
 * @ingroup themeable
 */
#}
<p class="state-description">{{ description }}</p>
<div id="edit-diagram" data-node-spacing="{{ nodeSpacing }}" data-edge-spacing="{{ edgeSpacing }}" data-field-name="{{ fieldName }}" data-output="{{ output }}" data-format="{{ format }}" edit-state="{{ editState }}">
</div>
